* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(../img/weed.jpg);
  background-size: cover;
  background-position: center;
}

.navbar {
  width: 90%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lang {
  width: 25px;
  cursor: pointer;
}

.navbar ul {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}
.navbar ul li {
  list-style: none;
  display: inline-block;
  position: relative;
}

.navbar li.cart img {
  width: 17px;
  height: 17px;
}

.navbar ul li a,
.navbar ul button.logout {
  font-size: inherit;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  background: none;
  border: none;
  width: fit-content;
  padding: 0;
  margin: 0;
}

.navbar ul li::after,
.navbar ul button.logout::after {
  content: "";
  height: 3px;
  width: 0;
  background: #19df0f;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.5s;
}

.navbar ul li:hover::after,
.navbar ul button.logout:hover::after {
  width: 100%;
}

.content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}

.content h1 {
  font-size: 40px;
  margin-top: 80px;
}

.content p {
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
}

button {
  padding: 15px 0;
  text-align: center;
  border-radius: 25px;
}
button:hover {
  cursor: pointer;
}

div.button-list button {
  width: 200px;

  margin: 20px 10px;
  border: 2px solid #19df0f;
  background: transparent;
  position: relative;
  overflow: hidden;
}

div.button-list button,
div.button-list button a {
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

div.button-list button span {
  background: #19df0f;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

div.button-list button:hover span {
  width: 100%;
}

div.button-list button:hover {
  border: none;
}

footer {
  background: #3f3f3f;
  align-items: block;
  text-align: center;
}
footer h1{
  color: #fff;
}
footer p{
  position: center;
  color: #fff;
}